@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap");

.rocket{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    overflow-y: hidden;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.rocketLayer{
    object-fit: contain;
    filter: saturate(0);
    opacity: 1;
}